# ========================
# Logs
# ========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# Dependencias y builds
# ========================
node_modules/
dist/
dist-ssr/
coverage/
*.local

# ========================
# Archivos del sistema
# ========================
.DS_Store
Thumbs.db

# ========================
# Archivos de editor
# ========================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
.eslintcache

# ========================
# Cypress
# ========================
/cypress/videos/
/cypress/screenshots/

# ========================
# Vitest
# ========================
__screenshots__/

# ========================
# Visual Studio / .NET
# ========================
*.user
*.rsuser
*.sln.docstates
*.esproj
*.esproj.user
obj/
bin/
Debug/
Release/
.vs/

# ========================
# Archivos de entorno
# ========================
.env
.env.local
.env.*.local
